body{


margin: 20px;
padding: 20px;

}
.contact{
     

}
.name{
}
.email{
     
}
.message{
    
}
#button{
     background-color: rgb(23, 156, 209);
     color: white;
     margin-left: 700px;
     margin-top: 10px;
     height: 40px;
     width: 50px;
}
#name_field{
    width: 700px;
}
#email_field{
    width: 700px;
}
#message_field{
    width: 700px;
    height: 100px;
}

