body{

border: black solid 3px;
margin: 20px;
padding: 20px;
}
.contact{
     

}
.name{
}
.email{
     
}
.message{
    
}
#button{
     background-color: blue;
     color: white;
     margin-left: 1400px;
}